@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.arrow{
    padding: 12px;
    background-color: #FFF;
    border-radius: 2px 2px 0 0;
    position: fixed;
    right: 15px;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, .4);
}

#header{
    transition: all 300ms ease-in-out 0s;
}

.fit-badge{
    width: fit-content;
}

figure{
    margin: 0;
}

.card-footer{
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0rem;
    padding: 5px;
}


a{
    color: #000;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

.card{
    border-radius: 0;
}

.separator{
    border-right: 1px solid rgba(204, 204, 204, 0.4); margin: 0.7% 0;
}


.card320{
    max-height: 320px;
}

nav{
    font-size: 2.2vw;

}

nav ul li i{
    color: #FFF;
}
