*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #F9F9F9;
}

/* ====================  C A R D S  ==================== */
.card300{
    height: 300px;
    max-height: 300px;
}

.card200{
    height: 200px;
    max-height: 200px;
}

.card{
    border: 1px solid #E5E5E5;
    position: relative;
}



#btn_next{
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
    background-color: #FFF;
    color: #7C7C7C;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #000;
}

.badge-b{ 
    position: absolute;
    color: #FFF;
    background-color: #F24B4B;
    padding: 5px 13px;
    border-radius: 0px 0px 0px 8px;
    font-weight: bold;
    font-size: 15px;
}



/*====================  H E A D  S E C T I O N  ====================*/
.headSection{
    display: flex;
    justify-content: space-between;
}

.headSection :nth-child(2){
    display: flex;
    align-items: center;
    margin: 0 10px;
}

/* ====================  L A B E L  ==================== */
.label{
    padding: 10px;
    background-color: #272727;
    color: #FFF;
    border-radius: 5px;
    font-size: 15px;
}

/* ====================  H E A D  ==================== */
#head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#head #div1{
    color: #D50A0A;
    font-weight: 900;
}

#head #div2{
    display: flex;
    align-items: center;
}

#head #div2 :first-child{
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 10px;
}

#head #div2 i{
    font-size: 15px;
    color: #F24B4B;
}

#head #div2 button{
    background-color: #F24B4B;
    border-radius: 15px;
    border: none;
    color: #FFF;
    padding: 4px 20px;
}

/* ====================  PRIMEIROS ITENS  ==================== */

.border{
    border: 1px solid #000;
}

.fit-img{
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: #E9E9EA;
}

.bg-card{
    background-color: #EAEAEA;
}

.subCardF{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subCardF a:last-child {
    position: absolute;
    padding: 5px;
    border-radius: 0px 0px 0px 6px;
    background-color: #51C07A;
}

.subCardS{
    position: relative;
    height: 45%;
    background-size: cover;
}

.subCardS a{
    color: #FFF;
    padding: 5px;
    border-radius: 0px 0px 0px 4px;
    font-size: 10px;
}

.inferior{
    height: 94%;
    padding: 2%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inferior div{
    height: 80%;
}


/* ====================  P R O D U T O S  ==================== */

/*========== C A R D S ==========*/
.card-img{
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: #F7F7F7;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 10px 10px 0 0;
}

.card-img a{
    background-color: #505050;
    font-size: 8px;
    color: #FFF;
    padding: 3px 10px;
    border-radius: 4px;
    margin-right: 3px;
}

.card-body{
    background-color: #FFF;
    height:35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.p{
    padding: 10px;
}

.rad{
    border-radius: 4px;
}

.card-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: stretch;
}

.card-footer :nth-child(n + 1){
    font-size: 0.8vw;
    font-weight: bold;
    border-radius: 0;
    border: none;
}

.card-footer :nth-child(1){
    flex-grow: 2;
    border-radius: 0 0 0 4px;
    background-color: #F24B4B;
    color: #FFF;
}

.card-footer :nth-child(2){
    flex-grow: 1;
    border-radius: 0 0 4px 0;
    background-color: #F2F2F2;
    color: #000;
}

.muted-3{
    color: #BBBBBB;
    font-size: 1vw;
}

.muted-2{
    color: #C7C7C7;
    font-weight: bold;
    font-size: 1vw;
}

.muted-1{
    color: #707070;
    font-weight: bold;
    font-size: 1.3vw;
}


/* ====================  C U P O N S  D E S C O N T O  ==================== */
.headDesconto{
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat; 
    background-color: #FFF;
    height: 50%;
    border-radius: 4px 4px 0 0;
}

.contain{
    background-size: contain;
}

.bodyDesconto{
    height: 34%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.bodyDesconto h2{
    font-size: 1vw;
    font-weight: 600;
}

.footerDesconto{
    height: 16%;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #51C07A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
}

.footerDesconto h3{
    color: #FFF;
    font-size: 1vw;
    font-weight: lighter;
}


/* ====================  E M P R E G O S ==================== */
.emprego{
    padding: 10px;
    overflow: hidden;
    background-color: #FFFFFF;
}

.emprego div a{
    font-size: 12px;
    margin-right: 5px;
}

.emprego div #first{
    color: #1E4CB4;
}

.emprego div a{
    color: #A9A9A9;
}

.emprego h2{
    font-size: 0.8em;

}

.emprego h3{
    font-size: 0.7em;
    margin: 0;
    color: #A9A9A9;
    font-weight: lighter;
}