*{
    font-family: 'Montserrat', sans-serif;
}

.card320{
    height: 300px;
    max-height: 300px;
}

.fit-img{
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: #F7F7F7;
}

.bg-card{
    background-color: #EAEAEA;
}

.muted-3{
    color: #BBBBBB;
}

.muted-2{
    color: #C7C7C7;
    font-weight: bold;
}

.muted-1{
    color: #707070;
    font-weight: bold;
}

.bold{
    font-weight: bold;
}

.s-100{
    width: 100%;
    height: 100%;
}

#btn_next{
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
    background-color: #FFF;
    color: #7C7C7C;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.yBottom{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;

}

.h-200{
    height: 200px;
    max-height: 200px;
}

.img-100{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: #000;
}

.badge-b{ 
    color: #FFF;
    background-color: #F24B4B;
    padding: 5px 13px;
    border-radius: 0px 0px 0px 8px;
    font-weight: bold;
    font-size: 15px;
}

.card{
    border: 1px solid black;
    position: relative;
}





/* ====================  H E A D  ==================== */
#head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#head #div1{
    color: #D50A0A;
    font-weight: 900;
}

#head #div2{
    display: flex;
    align-items: center;
}

#head #div2 :first-child{
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 10px;
}

#head #div2 i{
    font-size: 15px;
    color: #F24B4B;
}

#head #div2 button{
    background-color: #F24B4B;
    border-radius: 15px;
    border: none;
    color: #FFF;
    padding: 4px 20px;
}

/* ====================  I T E N S  ==================== */

#subCardF{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#subCardF a:last-child {
    background-color: #51C07A;
}

#subCardS{
    height: 48%;
    background-size: cover;
}

#subCardS a{
    color: #FFF;
    font-size: 15px;
}


.label{
    padding: 10px;
    background-color: #272727;
    color: #FFF;
    border-radius: 5px;
    font-size: 15px;
}

/* ====================  P R O D U T O S  ==================== */

/* HEADER */
#headProdutos{
    display: flex;
    justify-content: space-between;
}

#headProdutos :nth-child(2){
    display: flex;
    align-items: center;
    margin: 0 10px;
}


/* ITEMS */
/*========== C A R D S ==========*/
.card-img{
    background-size: 85%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: #F7F7F7;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 10px 10px 0 0;
}

.card-img a{
    background-color: #505050;
    font-size: 10px;
    color: #FFF;
    padding: 3px 10px;
    border-radius: 4px;
    margin-right: 3px;
}

.card-body{
    height:35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.p{
    padding: 10px;
}

.rad{
    border-radius: 4px;
}

.card-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: stretch;
}

.card-footer :nth-child(n + 1){
    font-size: 0.8vw;
    font-weight: bold;
    border-radius: 0;
    border: none;
}

.card-footer :nth-child(1){
    flex-grow: 2;
    border-radius: 0 0 0 4px;
    background-color: #F24B4B;
    color: #FFF;
}

.card-footer :nth-child(2){
    flex-grow: 1;
    border-radius: 0 0 4px 0;
    background-color: #F2F2F2;
    color: #000;
}
